<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">

    <link rel="stylesheet" href="../public/stylesheets/dashbord.css">

    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <div id="content" class="content p-0">
            <div class="profile-header">
                <div class="profile-header-cover"></div>
                <div class="profile-header-content">
                    <div class="profile-header-img mb-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="mb-4" alt="" />
                    </div>

                    <div class="profile-header-info">
                        <h4 class="m-t-sm">
                            <%= user[0].User_Name %>
                        </h4>
                        <p class="m-b-sm">UXUI + Frontend Developer</p>
                        <div class="w3-container">
                            <a onclick="document.getElementById('id01').style.display='block'" href="#" class="btn btn-xs btn-primary mb-2">Edit Profile</a>
                            <div id="id01" class="w3-modal" style="margin-top:100px">
                                <div class="w3-modal-content">
                                    <div class="w3-container">
                                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                        <p>Some text. Some text. Some text.</p>
                                        <p>Some text. Some text. Some text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="profile-header-tab nav nav-tabs">
                    <li class="nav-item"><a href="#profile-post" class="nav-link" data-toggle="tab">POSTS</a></li>
                    <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">ABOUT</a></li>
                    <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>
                    <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>
                    <li class="nav-item"><a href="#profile-friends" class="nav-link active show" data-toggle="tab">FRIENDS</a></li>
                </ul>
            </div>

            <div class="profile-container">
                <div class="row row-space-20">
                    <div class="col-md-8">
                        <div class="tab-content p-0">

                            <div class="tab-pane fade active show" id="profile-friends">
                                <div class="m-b-10"><b>Friend List (9)</b></div>

                                <ul class="friend-list clearfix">
                                    <li>
                                        <a href="#">
                                            <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></div>
                                            <div class="friend-info">
                                                <h4>Sancho Aldo</h4>
                                                <p>392 friends</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></div>
                                            <div class="friend-info">
                                                <h4>Jonty Augusto</h4>
                                                <p>128 friends</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></div>
                                            <div class="friend-info">
                                                <h4>Androkles Allen</h4>
                                                <p>12 friends</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></div>
                                            <div class="friend-info">
                                                <h4>Ithamar Silvio</h4>
                                                <p>1,923 friends</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></div>
                                            <div class="friend-info">
                                                <h4>Denzel Annas</h4>
                                                <p>893 friends</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></div>
                                            <div class="friend-info">
                                                <h4>Kamil Cree</h4>
                                                <p>983 friends</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></div>
                                            <div class="friend-info">
                                                <h4>Fritjof Inderjit</h4>
                                                <p>3,321 friends</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></div>
                                            <div class="friend-info">
                                                <h4>Sushil Trygve</h4>
                                                <p>921 friends</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></div>
                                            <div class="friend-info">
                                                <h4>Frans Gebhard</h4>
                                                <p>944 friends</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 hidden-xs hidden-sm">
                        <ul class="profile-info-list">
                            <li class="title">PERSONAL INFORMATION</li>
                            <li>
                                <div class="field">First Name</div>
                                <div class="value">
                                    <%= user[0].User_First_Name %>
                                </div>
                            </li>
                            <li>
                                <div class="field">Last Name</div>
                                <div class="value">
                                    <%= user[0].User_Last_Name %>
                                </div>
                            </li>
                            <li>
                                <div class="field">Birth of Date:</div>
                                <div class="value">
                                    <%= user[0].User_Birthday %>
                                </div>
                            </li>
                            <li>
                                <div class="field">Gender :</div>
                                <div class="value">
                                    <%= user[0].User_Gender %>
                                </div>
                            </li>
                            <li>
                                <div class="field">Number :</div>
                                <div class="value">
                                    <%= user[0].User_Number %>
                                </div>
                            </li>
                            <li>
                                <div class="field">Email :</div>
                                <div class="value">

                                    <%= user[0].User_Email %>

                                </div>
                            </li>
                            <li class="title">FRIEND LIST (9)</li>
                            <li class="img-list">
                                <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                                <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></a>
                                <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></a>
                                <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></a>
                                <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></a>
                                <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></a>
                                <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></a>
                                <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></a>
                                <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- !----------------------------------------------------------------------------------------------------------------------------------------- -->

    <script src="../public/javascripts/dashborad.js"></script>
</body>

</html>